---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404'>
  <main>
    <h1>No Content - 404</h1>
    <p>
      We are unable to locate what you are looking for. Please travel back to the <a href='/'
        >homepage</a
      > for our current offerings.
    </p>
  </main>
</Layout>
<style>
  main {
    max-width: 60ch;
    margin: auto;
    padding: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
