---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='About BlobPlop'>
	<main>
		<section class='page-content prose prose-stone dark:prose-invert'>
			<div class='container'>
				<h2>About BlobPlop</h2>
				<p>
					BlobPlop was born thanks to the .com TLD (Top-Level Domain) being available, so I bought
					it from my favorite domain name registrar: <a href='https://porkbun.com/'>Porkbun</a>
				</p>
				<p>
					A blob can refer to any form of content such as text, photo, video, or <a
						href='https://en.wikipedia.org/wiki/Binary_large_object'>binary large object</a
					> to encompass all possibilities. You get the idea. Blobs are globs of content.
				</p>
				<Card dark={true}>
					<h3>Plop That Blob</h3>
					<p>
						Now that you have a blob you love, what's next? Plop it onto the internet, that's what!
						Don't overthink it, the internet <em>loves</em> new globs of content.
					</p>
				</Card>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde doloribus, vel ipsum
					mollitia aliquid cumque commodi corrupti omnis ipsam sit earum, dolore quisquam harum qui
					non, quasi ea voluptatum debitis!
				</p>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		max-width: 75ch;
		margin: auto;
	}
</style>
