---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='About BlobPlop'>
  <main>
    <section class='page-content'>
      <div class='container'>
        <h1>Background</h1>
        <p>Matthew Davis is me, the owner of this site.</p>
        <p>
          Here is where I will play with front-end coding concepts I find intriguing. I don't know a
          ton yet so don't be surprised if my opinions and approaches remain in constant flux.
        </p>
        <p>
          Yes, there are a lot of people that share my name, so soon enough I will update this page
          with some media to show you which Matthew Davis I am.
        </p>
        <p>
          To keep it short, I grew up on Long Island (yeah, on) and moved to New York City at 18 to
          pursue <em>my passion</em> at New York University, spending most of my time learning lots about
          acting and breathing. Mostly breathing.
        </p>
        <p>
          Throughout my twenties I worked all sorts of odd jobs while in pursuit of...what exactly,
          I was never sure. It was a bit too easy for me to get lost wading through an internal
          dialogue, questioning the very meaning of everything I was-
        </p>

        <h2>Woah, let's slow down.</h2>
        <p>
          In life it's important to revisit paths you thought were closed, or to set out on new
          paths entirely. Only you can decide what's best for you!
        </p>
        <p>
          So, here I am in my thirties, learning to code and working my first full-time job doing
          some coding, and it would seem things were always meant to go this way.
        </p>
        <p>They weren't. Life is unpredictable at best. Keep questioning. Keep doing.</p>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    max-width: 60ch;
    margin: auto;
  }
</style>
