---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';

const blobs = await Astro.glob('../content/blobs/*.md');

// return blobs ordered by newest to oldest.
const orderedBlobs = blobs.sort(function (a, b) {
  return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
});
---

<Layout title='Blobs'>
  <Showcase heading='Plopped Blobs ðŸ¾' />
  <main>
    <section class='page-content'>
      <div class='container'>
        {
          orderedBlobs.map((blob) => (
            <Card>
              <h3>{blob.frontmatter.title}</h3>
              <div>
                Written by <strong>{blob.frontmatter.author} </strong> on{' '}
                {new Date(blob.frontmatter.date).toLocaleDateString()}
              </div>
              <p>{blob.frontmatter.excerpt}</p>
              <a class='btn' href={`/${blob.frontmatter.slug}`}>
                Read More
              </a>
            </Card>
          ))
        }
      </div>
    </section>
  </main>

  <style>
    main {
      max-width: 75ch;
      margin: 0 auto;
      padding: 1.5rem;
      word-wrap: normal;
    }
  </style>
</Layout>
