---
export interface Props {
  title: string;
  href?: string;
}

const {title, href} = Astro.props;
---

<button class="button">
  <a href={href} rel="no-refresh">
    <p>{title}</p>
  </a>
</button>
<style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #db65ba;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #b84198;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>