---
import blobSVG from '../icons/blob.svg';
import { Image } from 'astro:assets';



---

<footer class='footer footer-center p-4 bg-base-300 text-base-content'>
	<div class='items-center grid-flow-col'>
		<Image src={blobSVG} alt='blob' height='30' />
		<p>Popping Blobs Since 2022</p>
	</div>
</footer>
