---
import logo from '../images/alien.png';
---

<!-- TODO make me static!  -->
<header class='header'>
  <div class='container'>
    <div class='logo'>
      <span class='logo'>
        <a href='/'>
          <img src={logo} alt='logo' />
        </a>
        <span class='title'>BlopPlop</span>
      </span>
    </div>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/blobs'>Blobs</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    height: 120px;
    background: #0f172a;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .title {
    margin-left: 2rem;
    font-size: x-large;
    color: azure;
    font-weight: 700;
  }

  .header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .header img {
    height: 75px;
    vertical-align: middle;
  }
  .header nav ul {
    display: flex;
  }
  .header nav ul li {
    padding: 0 10px;
  }
  .header nav ul li a {
    color: #fff;
  }
</style>
