---
interface Props {
	title: string;
	body: string;
	href?: string;
    disabled?: boolean;
}

const { href, title, body, disabled } = Astro.props;
---

<li class:list={['link-card bg-primary hover:bg-primary-focus', {disabled}]}>
	<a href={href}>
		<h2 class='text-primary-content'>
			{title}
			<span>&rarr;</span>
		</h2>
		<p class='text-primary-content'>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;

	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

    .disabled {
        opacity: 0.5;
    }


</style>
