/* BEGIN: Text Gradient Animation */
@keyframes textGradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text-gradient {
    background: linear-gradient(to right, #ff00ff, #00ff00, #00ffff, #ff00ff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradientAnimation 10s linear infinite;
    font-weight: bolder;
}

/* END: Text Gradient Animation */